<div class="modal fade" id="category_add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加栏目</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="category_add_form" class="form-horizontal">
                    <div class="box-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#setting" role="tab"
                                   aria-selected="true">
                                    <span class="hidden-xs-down">栏目配置</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#base" role="tab"
                                   aria-selected="true">
                                    <span class="hidden-xs-down">基本信息</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#info" role="tab"
                                   aria-selected="true">
                                    <span class="hidden-xs-down">详细信息</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="base" role="tabpanel">
                                <div class="pad">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">名称</label>
                                        <div class="col-sm-10 row">
                                            <input type="text" class="form-control" name="name" placeholder="请输入分类名称">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">调用名称</label>
                                        <div class="col-sm-10 row">
                                            <input type="text" class="form-control" name="ename"
                                                   placeholder="请输入分类调用名称,只能为英文">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">封面图片</label>
                                        <div class="col-sm-10 row">
                                            <div id="add_img" href="javascript:void(0);" class='col-sm-2 plupload'><i
                                                    class="fa fa-plus"></i></div>
                                            <input type="text" class="form-control" name="cover">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">图标</label>
                                        <div class="col-sm-10 row">
                                            <div class="input-group">
                                                <input type="text" class="form-control" onchange="showicon(this)"
                                                       name="icon"
                                                       placeholder="图标编号">
                                                <span class="input-group-addon"><i class="fa"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="info" role="tabpanel">
                                <div class="pad">
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">关键词</label>
                                        <div class="col-sm-10 row">
                                            <input type="text" class="form-control" name="keywords"
                                                   placeholder="请输入关键词">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">描述</label>
                                        <div class="col-sm-10 row">
                                        <textarea type="text" class="form-control" name="info"
                                                  placeholder="请输入描述信息"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">内容</label>
                                        <div class="col-sm-10 row">
                                            <div id="addContent"></div>
                                            <textarea name="content" hidden></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane active" id="setting" role="tabpanel">
                                <div class="pad">
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">类型</label>
                                        <div class="col-sm-10 row">
                                            <select class="form-control select2" name="type"
                                                    onchange="changeType(this)">
                                                <option value="1">产品</option>
                                                <option value="2">文章</option>
                                                <option value="3">外链</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">上级栏目</label>
                                        <div class="col-sm-10 row">
                                            <select class="form-control select2" name="pid">
                                                <option value="0">最上级</option>
                                                {% for category in category_tree %}
                                                <option value="{{ category.id }}" type="{{ category.type }}"
                                                        {% if category.type==2 %} disabled {% endif %}
                                                        {% if category.id==pid %} selected {% endif %}
                                                >{{category.name }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">外链URL</label>
                                        <div class="col-sm-10 row">
                                            <input type="text" class="form-control" name="url" placeholder="请输入外链URL">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">是否导航</label>
                                        <div class="col-sm-10 row">
                                            <select class="form-control select2" name="is_nav">
                                                <option value=1 selected>是</option>
                                                <option value=0>否</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">排序</label>
                                        <div class="col-sm-10 row">
                                            <input type="number" value=1 class="form-control" name="sort"
                                                   placeholder="请输入排序编号，数字越大越靠前">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" url="{{url_for('admin.category_add')}}"
                        formId="category_add_form" onclick="addFun(this)">提交
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
