{% extends "admin/admin.html" %}
{% import "admin/search.html" as search %}
{% block css %}
{% endblock %}
{% block content %}
{% include "admin/category/category_add.html" %}
{% include "admin/category/category_edit.html" %}
{% include "admin/filemanage.html" %}

<div class="row">
    <div class="col-lg-3 col-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">栏目</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-toggle="modal"
                            data-target="#category_add"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding skin-blue-light">
                <ul class="sidebar-menu" data-widget="tree">
                {% for category in category_tree %}
                {% if category.children %}
                <li class="treeview">
                    <a href="{{ url_for('admin.category_list',pid = category.id) }}">
                        <i class="fa {{ category.icon }}"></i>
                        <span>{{ category['name'] }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        {% for child_category in category.children %}
                        <li class="{% if  child_category.id == category_id %}active{% endif %}">
                            <a href="{{ url_for('admin.category_list',pid = child_category.id) }}">
                                <i class="fa {{ child_category.icon }}"></i> {{ child_category.name }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="{% if category.id == category_id %}active{% endif %}">
                    <a href="{{ url_for('admin.category_list',pid = category.id) }}">
                        <i class="fa {{ category.icon }}"></i> <span>{{ category.name }}</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
</ul>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-lg-9 col-9">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal"
                            data-target="#category_add"><i class="fa fa-plus"></i> 新增
                    </button>
                </h3>
                {{search}}
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 300px">分类名称</th>
                        <th>类型</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in category_data %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td><i class="fa {{ category.icon }}"></i>{{ category.name }}</td>
                        <td>
                            {% if category.type == 1%}产品{%endif%}
                            {% if category.type == 2%}文章{%endif%}
                            {% if category.type == 3%}外链{%endif%}
                        </td>
                        <td>{{ category.create_time }}</td>
                        <td>
                            <button csrftoken="{{ csrf_token() }}" onclick="showEditForm('{{ category.id }}')"
                                    type="button" class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>编辑
                            </button>
                            <button id="{{ category.id }}" url="{{ url_for('admin.category_del') }}"
                                    csrftoken="{{ csrf_token() }}" onclick="deleteFun(this)" type="button"
                                    class="btn btn-default btn-sm">
                                <i class="fa fa-trash-o"></i> 删除
                            </button>
                        </td>
                    </tr>
                    {% if category['children'] %}
                    {%　for category_child in category['children']%}
                    <tr>
                        <td>{{ category_child.id }}</td>
                        <td>---- <i class="fa {{ category_child.icon }}"></i>{{ category_child.name }}</td>
                        <td>
                            {% if category_child.type == 1%}产品{%endif%}
                            {% if category_child.type == 2%}文章{%endif%}
                            {% if category_child.type == 3%}外链{%endif%}
                        </td>
                        <td>{{ category_child.create_time }}</td>
                        <td>
                            <button csrftoken="{{ csrf_token() }}"
                                    onclick="showEditForm('{{ category_child.id }}')"
                                    type="button" class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>编辑
                            </button>
                            <button id="{{ category_child.id }}" url="{{ url_for('admin.category_del') }}"
                                    csrftoken="{{ csrf_token() }}" onclick="deleteFun(this)" type="button"
                                    class="btn btn-default btn-sm">
                                <i class="fa fa-trash-o"></i> 删除
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif%}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}
{% block js %}
<!-- wangEditor edit -->
<script src="{{ url_for('static',filename = 'components/wangEditor/wangEditor.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'components/plupload/js/plupload.full.min.js')}}"></script>
<script>
    var csrftoken = "{{ csrf_token() }}"
    var extraData = {
        "csrf_token": csrftoken,
        "width": 400,
        "height": 300,
        "watermark": 0,
        "thumb": 0
    }
    var editorExtraData = {
        "csrf_token": csrftoken,
        "width": 800,
        "height": 600,
        "watermark": 1,
        "thumb": 0
    }
    //初始化wangedit编辑器
    initEditor('#addContent', editorExtraData, '')
    //初始化文件上传控件
    initPlupload('add_img', 1, extraData)
    initPlupload('edit_img', 1, extraData)
    function showEditForm(id) {
        $.ajax({
            type: "GET",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{{ url_for('admin.category_edit') }}",//url
            headers: {"X-CSRFToken": csrftoken},
            data: {"id": id},
            success: function (result) {
                if (result.code == 1) {
                    var data = result.data;
                    $("#category_edit_form input[name=id]").val(data.id);
                    $("#category_edit_form select[name=pid]").val(data.pid).trigger('change');
                    $("#category_edit_form select[name=type]").val(data.type).trigger('change');
                    $("#category_edit_form select[name=is_nav]").val(data.is_nav).trigger('change');
                    $("#category_edit_form textarea[name=info]").val(data.info);
                    $("#category_edit_form textarea[name=content]").val(data.content);
                    initEditor('#editContent', editorExtraData, data.content);
                    $("#category_edit_form input[name=cover]").val(data.cover);
                    showAllFiles('edit_img', '')
                    $("#category_edit_form input[name=name]").val(data.name);
                    $("#category_edit_form input[name=ename]").val(data.ename);
                    $("#category_edit_form input[name=url]").val(data.url);
                    $("#category_edit_form input[name=keywords]").val(data.keywords);
                    $("#category_edit_form input[name=sort]").val(data.sort);
                    var icon = $("#category_edit_form input[name=icon]");
                    icon.val(data.icon);
                    icon.siblings().children().removeClass();
                    icon.siblings().children().addClass("fa "+data.icon)
                    $('#category_edit').modal('show')
                } else {
                    toastr.error(result.msg);
                }
            },
            error: function () {
                toastr.error("服务器异常，请稍后重试！");
            }
        });
    }
    function changeType(obj) {
        var pid = $(obj).parent().parent().parent().parent().parent().parent().find("select[name=pid]")
        pid.select2()
        pid.children().each(function () {
            if ($(this).attr('type') == $(obj).val() || $(this).val() == 0 || $(this).attr('type') == '3') {
                $(this).removeAttr("disabled");
            } else {
                $(this).attr("disabled", "true");
            }

        });
    }
</script>
{% endblock %}