<div class="modal fade" id="reptile_add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加爬虫任务</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="reptile_add_form" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="box-body">
                        <div class="form-group">
                            <label>爬虫任务名称</label>
                            <input type="text" class="form-control" name="name" placeholder="请输入爬虫任务名称">
                        </div>
                        <div class="form-group">
                            <label>要爬取的页面</label>
                            <div class="row">
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" name="url" placeholder="请输入爬取地址，页码用{}表示">
                                </div>
                                <div class="col-xs-2">
                                    <input type="number" class="form-control" name="begin_page" placeholder="开始页码">
                                </div>
                                <div class="col-xs-2">
                                    <input type="number" class="form-control" name="end_page" placeholder="结束页码">
                                </div>         
                            </div>            
                        </div>
                        <div class="form-group">
                            <label>要爬取的列表</label>
                            <input type="text" class="form-control" name="dom" placeholder="列表URL定位">
                        </div>
                        <div class="form-group">
                            <label>内容名称定位</label>
                            <input type="text" class="form-control" name="content_name" placeholder="内容名称定位">
                        </div>
                        <div class="form-group">
                            <label>内容描述定位</label>
                            <input type="text" class="form-control" name="content_info" placeholder="内容描述定位">
                        </div>
                        <div class="form-group">
                            <label>主内容定位</label>
                            <input type="text" class="form-control" name="content_main" placeholder="主内容定位">
                        </div>
                        <div class="form-group">
                            <label>内容图片定位</label>
                            <input type="text" class="form-control" name="content_img" placeholder="内容图片定位">
                        </div>
                        <div class="form-group">
                                <label>说明</label>
                                <p>//	从当前节点选取子孙节点</p>
                                <p>nodename	选取此节点的所有子节点</p>
                                <p>[@attrib='value']	选取给定属性具有给定值的所有元素</p>
                                <p>/	从当前节点选取直接子节点</p>
                                <p>@	选取属性</p>
                                <p>child::*  获取全部子节点</p>
                                <p>text() 文本内容</p>
                                <p>//ul[@class="product_list"] / li /a/@href</p>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="submit" url="{{url_for('admin.reptile_add')}}" formId="reptile_add_form" onclick="addFun(this)" class="btn btn-info">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>