<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="./css/weui.min.css">
<link rel="stylesheet" href="./css/jquery-weui.css">
<link rel="stylesheet" href="./css/style.css">


  </head>

  <body ontouchstart>
        <div class="page__bd" style="height: 100%;">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                  <div class="weui-cell__hd"><label class="weui-label">E-mail</label></div>
                  <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder="Input you email">
                  </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">Password</label></div>
                    <div class="weui-cell__bd">
                      <input class="weui-input" type="password"  placeholder="Input you password">
                    </div>
                  </div>
                  </div>
                  <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">login</a>
                </div>
            </div>
        </div>
    <script src="./js/jquery-2.1.4.js"></script>
<script src="./js/fastclick.js"></script>
<script src="./js/jquery-weui.js"></script>
<script>

</script>


  </body>
</html>
