<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="./css/weui.min.css">
<link rel="stylesheet" href="./css/jquery-weui.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/quill.snow.css">

  </head>

  <body ontouchstart>
        <div class="page__bd" style="height: 100%;">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                  <div class="weui-cell__hd"><label class="weui-label">title</label></div>
                  <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder="Input you title">
                  </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="name" class="weui-label">column</label></div>
                    <div class="weui-cell__bd">
                      <input class="weui-input" id="column" type="text" value="" readonly=""  placeholder="select column">
                    </div>
                  </div>
                  <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="name" class="weui-label">tag</label></div>
                    <div class="weui-cell__bd">
                      <input class="weui-input" id="tag" type="text" value="" readonly=""  placeholder="select tags">
                    </div>
                  </div>
                  <div class="weui-cell">
                    <div class="weui-gallery" id="gallery">
                        <span class="weui-gallery__img" id="galleryImg"></span>
                        <div class="weui-gallery__opr">
                            <a href="javascript:" class="weui-gallery__del">
                                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                            </a>
                        </div>
                    </div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <div class="weui-uploader">
                                    <div class="weui-uploader__hd">
                                        <p class="weui-uploader__title">图片上传</p>
                                        <div class="weui-uploader__info">0/2</div>
                                    </div>
                                    <div class="weui-uploader__bd">
                                        <ul class="weui-uploader__files" id="uploaderFiles">
                                            <li class="weui-uploader__file" style="background-image:url(../images/applogo180x180.png)"></li>
                                            <li class="weui-uploader__file" style="background-image:url(../images/applogo180x180.png)"></li>
                                            <li class="weui-uploader__file" style="background-image:url(../images/applogo180x180.png)"></li>
                                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(../images/applogo180x180.png)">
                                                <div class="weui-uploader__file-content">
                                                    <i class="weui-icon-warn"></i>
                                                </div>
                                            </li>
                                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(../images/applogo180x180.png)">
                                                <div class="weui-uploader__file-content">50%</div>
                                            </li>
                                        </ul>
                                        <div class="weui-uploader__input-box">
                                            <input id="uploaderInput" class="weui-uploader__input zjxfjs_file" type="file" accept="image/*" multiple="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                  </div>
                  <div class="weui-cells__title">content</div>
                  <div class="weui-cell">
    
                    <div class="weui-cell__bd">
                        <div id="editor">
                            <p>input you product details!</p>
                          </div>
                    </div>
                  </div>
                  <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">submit</a>
                </div>
            </div>
        </div>
    <script src="./js/jquery-2.1.4.js"></script>
<script src="./js/fastclick.js"></script>
<script src="./js/quill.min.js"></script>
<script src="./js/jquery-weui.js"></script>
<script>
$("#column").select({
  title: "select column",
  items: [
    {
      title: "metalparts1",
      value: 1
    },
    {
      title: "metalparts2",
      value: 2
    },
    {
      title: "metalparts3",
      value: 3
    },
    {
      title: "metalparts4",
      value: 4
    },
  ]
});

$("#tag").select({
  title: "select tag",
  multi: true,
  items: [
    {
      title: "metalparts1",
      value: 1
    },
    {
      title: "metalparts2",
      value: 2
    },
    {
      title: "metalparts3",
      value: 3
    },
    {
      title: "metalparts4",
      value: 4
    },
  ]
});

var quill = new Quill('#editor', {
    theme: 'snow'
  });

  $(function() {
                var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
                    $gallery = $("#gallery"),
                    $galleryImg = $("#galleryImg"),
                    $uploaderInput = $("#uploaderInput"),
                    $uploaderFiles = $("#uploaderFiles");

                $uploaderInput.on("change", function(e) {
                    var src, url = window.URL || window.webkitURL || window.mozURL,
                        files = e.target.files;
                    for(var i = 0, len = files.length; i < len; ++i) {
                        var file = files[i];

                        if(url) {
                            src = url.createObjectURL(file);
                        } else {
                            src = e.target.result;
                        }

                        $uploaderFiles.append($(tmpl.replace('#url#', src)));
                    }
                });
                var index; //第几张图片
                $uploaderFiles.on("click", "li", function() {
                    index = $(this).index();
                    $galleryImg.attr("style", this.getAttribute("style"));
                    $gallery.fadeIn(100);
                });
                $gallery.on("click", function() {
                    $gallery.fadeOut(100);
                });
                //删除图片  删除图片的代码也贴出来。
                $(".weui-gallery__del").click(function() { //这部分刚才放错地方了，放到$(function(){})外面去了
                    console.log('删除');
                    $uploaderFiles.find("li").eq(index).remove();
                });
            });

</script>


  </body>
</html>
