{% extends "admin/admin.html" %}
{% import "admin/search.html" as search %}
{% import "admin/pagination.html" as pagination %}
{% block content %}
{% include "admin/role/role_add.html" %}
{% include "admin/role/role_edit.html" %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    <button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal"
                            data-target="#role_add">
                        <i class="fa fa-plus"></i> 添加
                    </button>
                </div>
                {{search}}
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>编号</th>
                        <th>角色名称</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    {% for v in page_data.items %}
                    <tr>
                        <td>{{ v.id }}</td>
                        <td>{{ v.name }}</td>
                        <td>{{ v.create_time }}</td>
                        <td>
                            {% if v.id != 1%}
                            <button type="button" class="btn btn-info btn-sm" onclick="edit('{{ v.id }}')"><i
                                    class="fa fa-edit"></i> 编辑
                            </button>
                            <button type="button" class="btn btn-default btn-sm"
                                    id="{{ v.id }}" url="{{ url_for('admin.role_del') }}" csrftoken="{{ csrf_token() }}"
                                    onclick="deleteFun(this)"><i class="fa fa-trash-o"></i> 删除
                            </button>
                            {% endif%}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box-footer clearfix">
            {{ pagination.page(page_data,"admin.role_list") }}
        </div>
        <!-- /.box -->
    </div>
</div>

<script type="text/javascript">
    function edit(id) {
        var csrftoken = "{{ csrf_token() }}"
        $.ajax({
            type: "GET",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{{ url_for('admin.role_edit') }}",//url
            headers: {"X-CSRFToken": csrftoken},
            data: {"id": id},
            success: function (result) {
                if (result.code == 1) {
                    var data = result.data;
                    $("#role_edit_form input[name=id]").val(data.id);
                    $("#role_edit_form input[name=name]").val(data.name);
                    $("#role_edit_form input[cid='editAuthCheck']").each(function (i) {//遍历复选框
                        $(this).prop('checked', false)
                            console.log($(this).val())
                            console.log(data.auths)
                        if ($.inArray($(this).val(), data.auths) >= 0) {
                            $(this).prop('checked', true)

                        }
                    })
                    $('#role_edit').modal('show')
                } else {
                    toastr.error(result.msg);
                }
            },
            error: function () {
                toastr.error("服务器异常，请稍后重试！");
            }
        });
    }
</script>
{% endblock %}