
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>

    {% for menu in menu_tree %}
    {% if menu['children'] %}
    <li class="treeview">
        <a href="{{ menu['url'] }}">
            <i class="fa {{ menu['icon'] }}"></i> <span>{{ menu['name'] }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% for child_menu in menu['children'] %}
            {% if child_menu.url in auth_urls or current_user.role_id==1 %}
            <li class="{% if  child_menu['url'] == rule %}active{% endif %}"><a href="{{ child_menu['url'] }}"><i
                    class="fa {{ child_menu['icon'] }}"></i> {{ child_menu['name'] }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% else %}
    {% if menu.url in auth_urls or current_user.role_id==1 %}
    <li class="{% if  menu['url'] == rule %}active{% endif %}">
        <a href="{{ menu['url'] }}">
            <i class="fa {{ menu['icon'] }}"></i> <span>{{ menu['name'] }}</span>
        </a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

