<div class="modal fade" id="article_edit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改文章</h4>
            </div>
            <div class="modal-body" style="height:450px;overflow:auto; ">
                <form role="form" id="article_edit_form" class="form-horizontal">
                    <div class="box-body">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="admin_id" value="{{ current_user.id }}"/>
                        <input type="hidden" name="id" />
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">所属分类</label>
                            <div class="col-sm-10 row">
                                <select class="form-control select2" name = "category_id">
                                    {% for category in article_category %}
                                    <option value="{{  category['id'] }}"
                                    {% if category.id  == category_id %} selected {% endif %}
                                    > {{  category['name'] }}</option>
                                    {% if category['children'] %}
                                        {% for child_category in category['children'] %}
                                             <option value="{{  child_category['id'] }}"
                                                     {% if child_category.id  == category_id%} selected {% endif %}
                                             > --- {{  child_category['name'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">关联分类</label>
                            <div class="col-sm-10 row">
                                <select class="form-control select2" name = "relation_id">
                                    {% for category in article_category %}
                                    <option value="{{  category['id'] }}"
                                    > {{  category['name'] }}</option>
                                    {% if category['children'] %}
                                        {% for child_category in category['children'] %}
                                             <option value="{{  child_category['id'] }}"
                                             > --- {{  child_category['name'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" >标签</label>
                            <div class="col-sm-10 row">
                                <input type="text"  name="tags" hidden>
                                <select class="form-control select2" multiple="multiple">
                                    {% for tag in tag_data %}
                                      <option value="{{tag['id']}}">{{tag['name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10 row">
                                <input type="text" class="form-control" name="title" placeholder="请输入文章标题">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" >封面图片</label>
                            <div class="col-sm-10 row">
                                <div id="edit_article_img" href="javascript:void(0);" class='col-sm-2 plupload'><i class="fa fa-plus"></i>
                                </div>
                                <input  type="text" class="form-control" name="cover">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">SEO关键词</label>
                            <div class="col-sm-10 row">
                                <input type="text" class="form-control" name="keywords" placeholder="请输入用于SEO的关键词">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">SEO描述</label>
                            <div class="col-sm-10 row">
                                <textarea type="text" class="form-control" name="description" placeholder="请输入用于SEO描述信息"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">内容简介</label>
                            <div class="col-sm-10 row">
                                <textarea type="text" class="form-control" name="info" placeholder="请输入内容简介"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10 row">
                                    <div id="editArticleContent"></div>
                                    <textarea name="content" hidden></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-10 row">
                                <input type="number" value=1 class="form-control" name="sort" placeholder="请输入排序编号，数字越大越靠前">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" url="{{url_for('admin.article_edit')}}" formId="article_edit_form" onclick="updateFun(this)">提交</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>